
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #002236 url(../images/img01.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #2483A6;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #2483A6;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	background: url(../images/img03.gif) repeat-y center top;
}

/* Header */

#header-wrapper {
	height: 167px;
	background: url(../images/img02.gif) no-repeat center top;
}

#header {
	width: 960px;
	height: 167px;
	margin: 0 auto;
}

/* banner */

#logo {
	box-shadow: 10px 10px 10px #222222;
	border:0px solid;
	border-radius:15px;
	height: 100px;
	width: 100px;
	padding: 0px;
	margin: auto;
	float: left;
	background: url(../images/logo.svg) no-repeat;
	background-size: 100%;	
}

#logo a{
	display: block;
	height: 100%;
	width: 100%;
}

#banner {
	width: 980px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
	color: #FFFFFF;
}

#banner h1, #banner p {
	display: block;
	padding: 0;
}

#banner p {
	margin-top: -10px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
	text-shadow: 5px 5px 5px #222222;
}

#banner h1 {
	margin: 10px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 5px 5px 5px #222222;
}

#banner h1 a {
	color: #FFFFFF;
}

#banner a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#login {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#login form {
	height: 41px;
	margin: 0;
}

#login fieldset {
	margin: 0;
	padding: 100px;
	border: none;
}

/* Menu */

#menu-wrapper {
	background: url(../images/img03.gif) no-repeat center top;
	height: 58px;
}

#menu {
	width: 940px;
	height: 58px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 56px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 56px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* Page */

#page {
	background: url(../images/img05.gif) repeat-y center top;
}

#page-bgtop {
	background: url(../images/img04.gif) no-repeat center top;
}

#page-bgbtm {
	overflow: hidden;
	padding: 40px 30px 0px 30px;
}

#page-content {
	width: 920px;
	margin: 0px auto;
}

/* Content */

#content {
	float: left;
	width: 650px;
	padding: 0px 0px 20px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	color: #2483A6;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.post img{
	float: right;
	padding: 10px;
}
.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	font-size: 10px;
	color: #FFFFFF;
}

#login {
	margin-left: 0px;
	width: 230px;
}

#login h4 {
	padding: 0px;
	margin: 0px
}

#contact {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

#activities #order {
	margin-left: 5em;
	margin-top: -2.5em;
}

#activities #order .order-option {
	float: left;
	margin-left: 10px;
}

.clear {
	clear: both;
}

#activities ul {
	width: 100%;
	margin-left: -40px;
	list-style: none;
}

#activities li {
	width: 50%;
	display:inline;
	float:left;
}

.activity {
	margin: 10px;
	padding: 5px;
	background-color: #88DD88;
	box-shadow: 5px 5px 10px #222222;
	border-radius: 2px;
}

.activity .name {
	color: #000066;
}

#users ul {
	width: 100%;
	margin-left: -40px;
	list-style: none;
}

#users li {
	width: 33%;
	float:left;
	display:inline;
}

.user {
	background-color: #CCCCFF;
	margin: 10px;
	padding: 5px;
	box-shadow: 5px 5px 10px #222222;
	border-radius: 2px;
}

.workout {
	background-color: #FFF5EE;
	margin: 10px;
	padding: 5px;
	box-shadow: 5px 5px 10px #222222;
	border-radius: 2px;
}

#workouts ul {
	width: 100%;
	margin-left: -40px;
	list-style: none;
}

#user_count {
	padding-bottom: 2em;
}

#page_nav {
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.chart {
	float: left;
}

.buttons {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.buttons .date {
	text-align: center;
}

.buttons button{
	width: 200px;
}

.loading img {
	width: 32px;
	height: 32px;
	padding: 50px;
}

#workout_details {
	float: none;
	padding-bottom: 10px;
}

.Date {
	float: left;
	width: 350px;
}

.Time {
	float: left;
	width: 150px;
}

.Slider {
	float: left;
	width: 50px;
}

.bar {
	width: 15px;
	margin-left: auto;
	margin-right: auto;
}

.text_box {
	width: 35px;
	margin-left: auto;
	margin-right: auto;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	color: #181B20;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	border-bottom: 1px dashed #B3B0B0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #2483A6;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
	width: 600px;
	border-radius:3px;
	border:1px solid #CCCCCC;
	background: #f2f2f2;
}

#calendar td, #calendar th {
	width: 85px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border:0px;
	text-align: center;
}

#calendar #calendar_title {
	height: 30px;
	background: url(../images/calendar_top.png);
	background-size: 100% 50px;
	border:1px solid #e78f08;
	border-radius:3px;		
	
}

#calendar #title {
	display: inline;
	color: #ffffff;
	vertical-align: middle;
	font-size: 14pt;
}

.left {
	float: left;
}

.right {
	float: right;
}

#calendar td {
	color: #a4cfdf;
	height: 50px;		
	vertical-align: top;
	font-weight: bold;		
}

#calendar .current, #calendar .today {
	color: #1c94c4;
	background: #f9f9f9;
	border:1px solid #cccccc;
}

#calendar .today {
	text-decoration: underline;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	background: url(../images/img07.gif) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}
